body {
    overflow: hidden; /* Hide scrollbars */
}

/*--------------------
Leaderboard
--------------------*/
#leaderboard {
    visibility: hidden;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;/*210px;*/
    height: 200px;
    font-size: 20px;
}