body {
    overflow: hidden; /* Hide scrollbars */
}

/*--------------------
Leaderboard
--------------------*/
#leaderboard {
    /*display: none;*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    font-size: 20px;
}