html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
}

#mainPageBackground {
    background-image: url('../images/project 2/sky.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    /*background: yellow;*/
}

/*div on the left*/
#videoCallDiv {
    top: 0;
    left: 0;
    width: 24%;
    height: 100%;
    background: #1bA8e7; /*Light blue*/
    /*margin: 5px;*/
}

/*div on the right*/
.drawingCanvas {
    margin: 2px;
    flex-grow: 1; /*This div will occupy the remaining space in the parent div*/
    background: #F9C651; /*Giraffe orange colour*/
    margin: 0;
}

/*The actual canvas on the right side of the screen*/
#myCanvas {
    height: 100%;
}

#localVideo {
    background: #000000;
    border-radius: 10%;
    width: 100%;
    max-height: 35%;
    /*Mirror video*/
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

#remoteVideo {
    margin-top: 5%;
    background: #000000;
    border-radius: 10%;
    width: 100%;
    max-height: 35%;
    /*Mirror video*/
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

/* --- CSS Related to button on main page ---*/
.container {
    height: 200px;
    position: relative;
    /*border: 3px solid green;*/
    /*background: #F6F8FF;*/
    /*Vertically and horizontally center this container on page.*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#mainPgInst {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*background: red;*/
}

#imgCredit {
    margin: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#rhysBtn, #gpBtn {
    display: inline-block;
    background: #1E2235;
    border-radius: 12px;
    color: #F6F8FF;
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
}

#mainPgInst {
    /*background: white;*/
}

.callButtonsDiv {
    position: absolute;
    left: 4%;
    bottom: 32px;
}

/*The call buttons (end call, camera, mic, etc.) style */
.callBtns {
    width: 3%; /* Set width of icon */
    height: 10%; /* Set height of icon */
    border: 1px solid white;
    border-radius: 25%;
    cursor: pointer;
    margin-left: 20px;
}

.phoneIcon {
    background: #EA312B; /*Red*/
}

.micIcon {
    background: white;
}

.cameraIcon {
    background: white;
}

/*Oma/Opa Buttons style*/
#clrScrnBtn {
    height: 30px;
}
