html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    font-family: 'Montserrat', sans-serif;
}

#mainPageBackground {
    background-image: url('../images/project 2/sky.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#clientBody {
    background: #1C2329; /*Dark bliue*/
    overflow: hidden;
}

.mainContainer {
    /*margin: 10px;*/
    display: flex;
    /*width: 90%;*/
    height: 100%;
    border: 1px solid white;
    box-shadow: 10px 20px 40px rgb(0 0 0 / 60%);
}

/*div on the left*/
#videoCallDiv {
    top: 0;
    left: 0;
    width: 27%;
    height: 100%;
    background: #1bA8e7; /*Light blue*/
}

/*div on the right*/
.drawingCanvas {
    /*margin: 2px;*/
    flex-grow: 1; /*This div will occupy the remaining space in the parent div*/
    background: #F9C651; /*Giraffe orange colour*/
    margin: 0;
}

/*The actual canvas on the right side of the screen*/
#myCanvas {
    height: 100%;
}

#localVideo {
    background: #000000;
    border-radius: 5%;
    width: 95%;
    max-height: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Mirror video*/
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
    /*Center video horizontally*/
    margin: 3% auto;
    display: block;
}

#remoteVideo {
    background: #000000;
    border-radius: 5%;
    width: 95%;
    max-height: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*Mirror video*/
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
    /*Center video horizontally*/
    margin: 2% auto;
    /*margin-top: 5%;*/
    display: block;
}

.remoteVideoContainer {
    position: relative;
}
/*Add overlay text on top of the remote video for when the user's video is off or not connected.*/
.overlay {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .overlay h3 {
        color: white;
        font-size: 1.2vw;
        text-align: center;
    }

/* --- CSS Related to main landing page ---*/
.container {
    height: 600px;
    position: relative;
    /*border: 3px solid green;*/
    /*background: #F6F8FF;*/
    /*Vertically and horizontally center this container on page.*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*background: purple;*/
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*width: 60%;*/
    /*background: yellow;*/
}

#imgCredit {
    margin: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*Buttons on main page to call oma/opa or to call Rhys.*/
.callBtnDiv {
    display: inline-block;
    background: #1E2235; /*Dark blue*/
    border-radius: 12px;
    color: #F6F8FF;
    width: 40%;
    height: auto;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
}

    .callBtnDiv p {
        font-size: 1.5vw;
        display: block;
        margin: 5px;
    }

    .callBtnDiv img {
        width: 100%;
        height: auto;
    }

/* Change the button width when the browser window is 1500px wide or less: */
@media only screen and (max-width: 1200px) {
    .callBtnDiv {
        /*width: 160px;*/
        margin-right: 0px;
        /*background: red;*/
    }
}

/* --- CSS Related to the instructions and buttons available only to Oma/Opa ---*/
#customClientDiv {
    /*background: green;*/
    height: auto;
    margin: 3%;
}

#letterSpoken {
    color: #F4F4F5; /*Frost White/Silver*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 1.4vw; /*Viewport is the browser window size. 1vw = 1% of viewport width.*/
    margin: 0;
    display: inline-block;
}

#rhysDestroyPerm {
    /*color: #F4F4F5;*/ /*Frost White/Silver*/
    /*font-size: 1.2vw;*/ /*Viewport is the browser window size. 1vw = 1% of viewport width.*/
    margin: 0 0 0 0;
    /*display: inline-block;*/
    text-align: center;
}

/*Oma/Opa Buttons style*/
.actionBtns {
    /*Center buttons horizontally*/
    /*    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;*/
    float: right;
}
/*These custom buttons are clear screen btns and give rhys permission btn. Only for Oma/Opa.*/
.customBtn {
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    /*margin: 10px 10px;*/
    background: white;
    font-size: 1.0vw;
}

    .customBtn:hover {
        background-color: black;
        color: white;
    }

.customCounter {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    font-size: 1.1vw;
    color: #F4F4F5; /*Frost White/Silver*/
    /*background: orange;*/
    margin-bottom: 3px; /*Space between the last instruction and the call btns.*/
}

    .customCounter li {
        counter-increment: step-counter;
        margin-bottom: 10px;
    }

        .customCounter li::before {
            content: counter(step-counter);
            margin-right: 5px;
            font-size: 80%;
            background-color: #313B44; /*Greyish*/
            color: white;
            font-weight: bold;
            padding: 3px 8px;
            border-radius: 3px;
        }
/*Instructions on the main landing page.*/
#mainPgInst {
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 50%;*/
    /*    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    /*background: red;*/
}

    #mainPgInst li {
        color: black;
        font-size: 1.2vw;
    }

/* --- CSS for tool tip that is for showing the different animal sounds available to Oma/Opa --- */
.tooltip {
    color: #F4F4F5;
    border-bottom: 1px dotted;
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
    /*font-family: 'Oswald';*/
    color: blue;
    /*margin: 0;*/
    line-height: 1em;
}

    .tooltip span {
        display: none;
    }

    .tooltip:hover span {
        display: block;
        color: black;
        padding: 0.5em 0.8em 0.8em 2em;
        background: #9FDAEE;
        border: 1px solid #2BB0D7;
        border-radius: 5px 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        font-family: Calibri, Tahoma, Geneva, sans-serif;
        position: absolute;
        left: 1em;
        top: 2em;
        z-index: 99;
        margin-left: 0;
        width: 250px;
    }

    .tooltip:hover em {
        font-family: Candara, Tahoma, Geneva, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        padding: 0.2em 0 0.6em 0;
    }

/* --- CSS Related to call buttons at the bottom. ---*/
.callButtonsDiv {
    /*position: absolute;
    left: 4%;
    bottom: 32px;*/
    /*background: red;*/
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/*The call buttons (end call, camera, mic, etc.) style */
.callBtns {
    width: 12%; /* Set width of icon */
    height: 12%; /* Set height of icon */
    border: 1px solid white;
    border-radius: 25%;
    cursor: pointer;
    /*margin-left: 20px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .callBtns:hover {
        opacity: 0.90;
    }

.phoneIcon {
    background: #EA312B; /*Red*/
}

.micIcon {
    background: white;
}

.cameraIcon {
    background: white;
}
